<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicio de Sesion</h1>
    <form method="POST" action="/api/usuarios/login">
<p>Welcome, please login</p>
    <label for = "email">Email</label>
    <input type="email" name="email" required>

    <label for = "password">Password</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
    <a href="/restore">Restore to password</a>


</form>
</body>
</html>